<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" id="cordova-pdf-generator" version="2.1.1">

    <name>PDFGenerator</name>

    <engines>
        <engine name="cordova" version=">=3.4.0"/>
    </engines>

    <js-module src="www/pdf.js" name="pdf">
        <clobbers target="cordova.plugins.pdf" />
        <clobbers target="pugin.pdf"/>
        <clobbers target="pdf"/>
    </js-module>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PDFService">
                <param name="android-package" value="com.pdf.generator.PDFGenerator"/>
            </feature>
        </config-file>

        <source-file src="src/android/PDFGenerator.java" target-dir="src/com/pdf/generator/"/>
        <source-file src="src/android/PDFPrinter.java" target-dir="src/com/pdf/generator/"/>
        <source-file src="src/android/PDFPrinterWebView.java" target-dir="src/com/pdf/generator/"/>
        <source-file src="src/android/PDFtoBase64.java" target-dir="src/com/pdf/generator/"/>
        <source-file src="src/android/PDFConfig.java" target-dir="src/com/pdf/generator/"/>

    </platform>

    <platform name="ios">

        <config-file target="config.xml" parent="/widget">
            <feature name="pdfService">
                <param name="ios-package" value="PDFGenerator"/>
            </feature>
        </config-file>

        <header-file src="src/ios/BNHtmlPdfKit.h"/>
        <header-file src="src/ios/PDFGenerator.h"/>
        <source-file src="src/ios/PDFGenerator.m"/>
        <source-file src="src/ios/BNHtmlPdfKit.m"/>

    </platform>
</plugin>
